<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../assets/xml/rss.xsl" media="all"?><rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>I'm company (关于文章 plugin)</title><link>http://blog.imcompany.cn/</link><description></description><atom:link href="http://blog.imcompany.cn/categories/plugin.xml" rel="self" type="application/rss+xml"></atom:link><language>zh_cn</language><copyright>Contents © 2019 &lt;a href="mailto:peng051410@gmail.comjoe@demo.site"&gt;Tomyli&lt;/a&gt; </copyright><lastBuildDate>Wed, 29 May 2019 10:21:13 GMT</lastBuildDate><generator>Nikola (getnikola.com)</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>那些提高效率的Idea插件</title><link>http://blog.imcompany.cn/posts/na-xie-ti-gao-xiao-lu-de-ideacha-jian/</link><dc:creator>Tomyli</dc:creator><description>&lt;div&gt;&lt;div id="outline-container-org2332f0f" class="outline-2"&gt;
&lt;h2 id="org2332f0f"&gt;&lt;a id="ID-AE24E7B5-476E-4121-BF03-B56F91C3D334"&gt;&lt;/a&gt;.ignore&lt;/h2&gt;
&lt;div class="outline-text-2" id="text-org2332f0f"&gt;
&lt;/div&gt;
&lt;div id="outline-container-org0d01184" class="outline-3"&gt;
&lt;h3 id="org0d01184"&gt;&lt;a id="ID-FA818BA8-4658-4945-BC78-CB5FE9158CD5"&gt;&lt;/a&gt;插件说明&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org0d01184"&gt;
&lt;p&gt;
ignore文件忽略，支持绝大多数的开发语言，支持直接导航到忽略的文件，在创建时可以选择模板，比如Java开发可以选择Java与Idea选项来生成忽略target文件与.idea文件等的忽略规则。
&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="outline-container-orgb72e7c8" class="outline-3"&gt;
&lt;h3 id="orgb72e7c8"&gt;&lt;a id="ID-EB4B8E7E-6E5B-4606-BCA2-1DE9C76B7DFE"&gt;&lt;/a&gt;项目地址&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-orgb72e7c8"&gt;
&lt;p&gt;
&lt;a href="https://github.com/hsz/idea-gitignore"&gt;https://github.com/hsz/idea-gitignore&lt;/a&gt;
&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="outline-container-orgf17684b" class="outline-2"&gt;
&lt;h2 id="orgf17684b"&gt;&lt;a id="ID-CE57BFC9-7C86-4F59-AB90-2269F6420F6F"&gt;&lt;/a&gt;IdeaVim&lt;/h2&gt;
&lt;div class="outline-text-2" id="text-orgf17684b"&gt;
&lt;/div&gt;
&lt;div id="outline-container-orgbc6a686" class="outline-3"&gt;
&lt;h3 id="orgbc6a686"&gt;&lt;a id="ID-8E43E640-B183-4816-8F73-6C57957409CE"&gt;&lt;/a&gt;插件说明&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-orgbc6a686"&gt;
&lt;p&gt;
在Idea中使用vi键位来进行编码操作,可以很高的提高效率,插件支持自定义键位来对Idea的action来进行定制,程序员可以根据自己的编程习惯来定制出一个键盘流来.
&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="outline-container-org3677725" class="outline-3"&gt;
&lt;h3 id="org3677725"&gt;&lt;a id="ID-0A6CB64D-16EF-4251-BF41-592D3E1FE2DB"&gt;&lt;/a&gt;项目地址&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org3677725"&gt;
&lt;p&gt;
&lt;a href="https://github.com/JetBrains/ideavim"&gt;https://github.com/JetBrains/ideavim&lt;/a&gt;
&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="outline-container-org76143a6" class="outline-2"&gt;
&lt;h2 id="org76143a6"&gt;&lt;a id="ID-8B7FB695-0353-4B60-BAD5-A2B925431EA9"&gt;&lt;/a&gt;emacsIDEAs&lt;/h2&gt;
&lt;div class="outline-text-2" id="text-org76143a6"&gt;
&lt;/div&gt;
&lt;div id="outline-container-org8433da4" class="outline-3"&gt;
&lt;h3 id="org8433da4"&gt;&lt;a id="ID-997170C1-0DA9-4F3C-A9D1-B12FB18D206D"&gt;&lt;/a&gt;插件说明&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org8433da4"&gt;
&lt;p&gt;
支持一些Emacs操作的Idea插件,主要是一些复制,移动,替换,跳转的快捷操作,目前使用最多的是快速查找替换.
&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="outline-container-org23bb963" class="outline-3"&gt;
&lt;h3 id="org23bb963"&gt;&lt;a id="ID-AA572D98-2A6F-47B3-88D2-B18E07DB7462"&gt;&lt;/a&gt;项目地址&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org23bb963"&gt;
&lt;p&gt;
&lt;a href="https://github.com/whunmr/emacsIDEAs"&gt;https://github.com/whunmr/emacsIDEAs&lt;/a&gt;
&lt;/p&gt;
&lt;p&gt;&lt;a href="http://blog.imcompany.cn/posts/na-xie-ti-gao-xiao-lu-de-ideacha-jian/"&gt;阅读更多…&lt;/a&gt; (剩余 1 分钟去阅读)&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description><category>idea</category><category>plugin</category><guid>http://blog.imcompany.cn/posts/na-xie-ti-gao-xiao-lu-de-ideacha-jian/</guid><pubDate>Wed, 05 Sep 2018 00:12:23 GMT</pubDate></item></channel></rss>